jsonlines==4.0.0
ollama==0.6.1
pydantic==2.12.4
PyYAML==6.0.3
tqdm==4.67.1
langchain-text-splitters
langchain
langchain-community
faiss-cpu
langchain-ollama
sentence-transformers
rank_bm25
spacy==3.8.11
https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.8.0/en_core_web_trf-3.8.0-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/zh_core_web_trf-3.8.0/zh_core_web_trf-3.8.0-py3-none-any.whl
